
@using MvcKutuphane.Models.Entity
@Model List<TBLYAZAR>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/Layout.cshtml";
    }

    <h2>YAZARLAR</h2>


    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>SOYAD</th>
            <th>DETAY</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var y in Model)
        {
            <tr>
                <td>@y.ID</td>
                <td>@y.yazarAd</td>
                <td>@y.yazarSoyad</td>
                <td>@y.detay</td>
                <td>
                    <p class="btn btn-danger">
                        @Html.ActionLink("Sil", "YazarSil", new { id = y.ID },new { onclick = "return confirm('Silmek istiyor musunuz?')"})
                    </p>
                </td>
                <td><a href="/Yazar/YazarGetir/@y.ID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a class="btn btn-primary" href="/Yazar/YazarEkle">Yeni Yazar Ekle</a>
